from email.policy import default
{% extends "base.html" %}
{% block title %}View orders{% endblock title %}
{% block link %}<a href="/" class="main">Main page</a>{% endblock link %}
{% block content%}
    <div>
        <h3> Your Orders: {{order_list.count }} </h3> 
            {%for order in order_list%}
            <p>
                {{order.created}}
                    {%for item in order.items.all%}  
                        <p>{{item.manga.name}} x {{item.quantity}} = $ {{item.get_cost}}</p> 
                {%endfor%}
                <p> Total ${{order.get_total_cost}}</p>
                <p> --</p>
            </p>
            {%endfor%}
    </div>

{% endblock content %}